streamlit
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain
langchain_community
langchain_ollama
langchain_googledrive
chromadb
unstructured
pandas
python-dateutil
datetime
langchain-core
traceback-with-variables
langchain-core